<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b5bc3dd3-801a-47b2-bd4a-aade255e5b6e" name="Service 1 Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:description>The test suite generated for the REST service [Service 1]</con:description>
  <con:settings>
    <con:setting id="b5bc3dd3-801a-47b2-bd4a-aade255e5b6efileName">Service-1-Test-Suite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
